@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background: #20202D;
}

.container {
    max-width: 945px;
    margin: auto;
}

h2.section-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.button {
    padding: 24px 42px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    margin: 0;
    border: none;
}

/* header styles */

.hero {
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 105px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link {
    margin-left: 20px;
}

.social-link:first-child {
    margin-left: 0px;
}

.hero-content {
    display: flex;
    align-content: center;
    justify-content: space-between;   
}

.hero-subtitle {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01; 
}

.hero-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;  
    margin-top: 14px;
    margin-bottom: 20px; 
}

.hero-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px; 
    margin-top: 0;
    margin-bottom: 28px;  
    max-width: 420px;
}

.hero-avatar {
    width: 389px;
    height: 389px;
    background-color: white;
    border-radius: 50%;
    background-image: url('../img/Cмирнов\ Виктор.jpg');
    background-repeat: no-repeat;
    background-position: center top -10px;
    background-size: 100%;
    border: solid 12px white;
}

/* features styles */

.features {
    padding-top: 64px;
    padding-bottom: 92px;
    background: #000000;}

.feature-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 84px;
    justify-content: space-between;
}

.feature-item {
    width: 30%;
    margin-bottom: 64px;
}

.feature-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px; 
    margin-top: 24px;   
    margin-bottom: 16px;   
}

.feature-text {
    font-weight: 200;
    font-size: 16px;
    line-height: 28px;
    margin: 0;    
}

/* projects */

.projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
    padding-top: 135px;
}

/* Contacts */

.contacts-block {
    display: flex;
    padding-bottom: 148px;
}

.contacts-form {
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding: 40px 35px 45px 35px;
    margin-right: 99px;
}

.form-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-bottom: 29px;
}

.input {
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border: none;
    border-radius: 5px;
    padding: 18px 20px;
    padding-left: 49px;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.input-name {
    margin-bottom: 17px;
    background-image: url('../img/icons/user-icon.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
}

.input-phone {
    margin-bottom: 26px;
    background-image: url('../img/icons/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
}

.form-button {
    width: 100%;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
    max-width: 342px;
    align-items: center;
    justify-content: space-between;
}

.contacts-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.contacts-phone, .contacts-mail {
    flex-basis: 50%;
}

.contacts-social {
    flex-basis: 100%;
}

.contacts-data a {
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
}

.contacts-data a:hover {
    text-decoration: underline;
}

.contacts-social a {
    padding-right: 36px;
}

.contacts-policy {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #A5A5A5;
    margin-top: 72px;
}

